<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"> <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.php">
    <div class="sidebar-brand-icon rotate-n-15"></div>
    <div class="sidebar-brand-text mx-3">M-Optic</div>
</a>
<hr class="sidebar-divider my-0">
<li class="nav-item active"> <a class="nav-link" href="/"> <i class="fas fa-home"></i> <span>Početna</span></a> </li>
<hr class="sidebar-divider">

<li class="nav-item">

    <a class="nav-link collapsed" href="/decision" d data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"> <i class="fas fa-clipboard-list"></i></i> <span>Kreiraj odluku</span> </a>
    <a class="nav-link collapsed" href="/report" d data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"> <i class="fas fa-clipboard-list"></i> <span>Kreiraj izvještaj</span> </a>

</li>
<hr class="sidebar-divider">
<div class="text-center d-none d-md-inline"> <button class="rounded-circle border-0" id="sidebarToggle"></button> </div>
</ul>