<%- include('includes/head.ejs') %>
    </head>

    <body id="page-top">
        <div id="wrapper">
            <%- include('includes/navigation.ejs') %>
                <div id="content-wrapper" class="d-flex flex-column">
                    <div id="content">
                        <%- include('includes/logout.ejs') %>
                            <div class="container-fluid">
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                </div>
                                <div class="row">
                                    <div class="">
                                    </div>
                                    <div class="companyInfo"> <img id="logo"'>
                        </div>
                    </div>
                    </br>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Kreiranje izvještaja...</h1>
                    </div>
                    </br>
                    </br>
                   
                    </br>
                    </br>
                </div>
            </div>
            <%- include('includes/footer.ejs') %>
    </body>

    </html>